{% import_yaml 'resolver/ng/defaults.yaml' as defaultmap %}
{% import_yaml 'resolver/ng/osfamilymap.yaml' as osfamilymap %}
{% import_yaml 'resolver/ng/osmap.yaml' as osmap %}

# Defaults.
{% set defaults = salt['grains.filter_by'](
    defaultmap,
    base='Defaults',
) %}

# Update with "os_family" grain vars.
{% do salt['defaults.merge'](defaults,
    salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
    ) | default({}, True)
) %}

# Update with "os" grain vars.
{% do salt['defaults.merge'](defaults,
    salt['grains.filter_by'](
        osmap,
        grain='os',
    ) | default({}, True)
) %}

# Update dynamic vars.
{% do salt['defaults.merge'](defaults, {
    'domain': salt['grains.get']('domain')
}) %}

# Final var merged with pillar.
{% set resolver = salt['pillar.get'](
    'resolver',
    default=defaults,
    merge=True,
) %}
