{% set resolver = salt['grains.filter_by'](
    {
        'default': {
            'conf_path': '/run/resolvconf/resolv.conf',
            'user': 'root',
            'group': 'root',
        },
        'Debian': {
            'conf_path': '/etc/resolvconf/run/resolv.conf',
        },
        'Suse': {
            'conf_path': '/etc/resolv.conf',
        },
        'Ubuntu': {
            'conf_path': '../run/resolvconf/resolv.conf',
        },
        'FreeBSD': {
            'user': 'root',
            'group': 'wheel',
        }
    },
    grain='os',
    base='default',
    merge=salt['pillar.get']('resolver')
) %}
